pysrc/.idea/
pysrc/venv/
pysrc/*.mp4
cppsrc/.idea/
cppsrc/cmake-build-debug/
cppsrc/a.out
*.dat
cppsrc/.*
cppsrc/boost/
cppsrc/cvode/
cppsrc/cvodes/
cppsrc/include/
cppsrc/nvector/
cppsrc/*.exe
cppsrc/sundials/
cppsrc/gmon.out
